<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#"> The Complete Website Blog</a>
      by <a href="#">Cory Hoban</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>